.detailHeader {
    color: #0ed6a0;
    font-size: 35px;
    text-align: center;
}

.detailSubHeader {
    color: #0ed6a0;
    font-size: 20px;
    text-align: center;
}

.detailWrapper {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
}
/*FAQ*/
.faqLinkBlock > ul {
    list-style-type: circle;
}

.faqLinkBlock > ul > li {
    cursor: pointer;
    color: whitesmoke;
    text-align: left;
}

/*Information*/
.infoText {
    text-align: center;
    line-height: 3rem;
    font-size: 30px;
}
.infoImage {
    background: url("/src/assets/img/about-bg.jpg");
    background-size: cover;
    color: whitesmoke;
}
/* Mobile */
@media only screen and (max-width: 425px) {
    .infoText {
        line-height: 2.5rem;
    }
}
/* Big Laptop */
@media only screen and (min-width: 1024px) {
    .infoText {
        line-height: 3.5rem;
    }
}
