.detailHeader {
    color: #0ed6a0;
    font-size: 35px;
    text-align: center;
}

.detailSubHeader {
    color: #0ed6a0;
    font-size: 22px;
    margin-bottom: 15px;
}

.detailWrapper {
    padding: 2rem;
}

/*FAQ*/
.faqLinkBlock > div > ul,
.policyLinkBlock > ul {
    list-style-type: circle;
}

.faqLinkBlock > div > ul > li {
    cursor: pointer;
    color: whitesmoke;
    text-align: left;
    margin-bottom: 15px;
}
.policyLinkBlock > ul > li {
    margin-bottom: 15px;
}
.faqNavigatorBlock {
    margin-bottom: 20px;
}
.faqNavigatorBlock > a {
    color: whitesmoke;
}

/*Information*/
.infoText {
    font-size: 20px;
}
.infoImage {
    background: url("/src/assets/img/dress.jpg") no-repeat;
    background-size: cover;
    color: whitesmoke;
}
/* Mobile */
@media only screen and (max-width: 425px) {
    .infoText {
        line-height: 2.5rem;
    }
}
