.cardWrapper {
    padding: 1.5rem;
}

.cardWrapper > img {
    margin-bottom: 20px !important;
}

.authUtilsWrapper {
    font-size: 12px;
    margin-top: 10px;
}
.forgotPassword {
    margin-top: 5px !important;
}
