/* Content */
.mainContent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: grey;
}
.mainContent > footer {
    margin-top: auto;
}
/* Footer */
.footer-columns > div > .foot-header {
    font-weight: bold;
}

.footer-columns > div > a {
    display: block;
}

.footer-columns > div > .social-media-icons {
    display: inline-flex;
}
.footer-columns > div > .social-media-icons > span {
    margin: 10px;
}
/* Header */
.navbar-end-items > .button {
    margin: 0px 25px;
}

.navbar {
    height: 4rem;
}

/* Loader */
.body-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2a2a2f;
}
.spinner {
    --size: 62px;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #f0803c;
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #0e9594;
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #06d6a0;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
