/* Content */
.contentWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}
.contentWrapper > footer {
    margin-top: auto;
}

.mainContent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/* Footer */
.footerOveride {
    padding: 1rem 1.5rem 6rem !important;
    margin-top: 20px !important;
}
.footWrapper > div > p:not(:last-child) {
    font-weight: bold;
}

.footWrapper > div > a {
    display: block;
}

.footWrapper > div > .social-media-icons {
    display: inline-flex;
}
span {
    margin: 10px;
}
/* Header */
.navbarItem {
    padding: 0px;
}
.navbarItem img {
    max-height: 3.5rem !important;
    cursor: pointer;
}
.navbarEnditems {
    margin: 0px 10px;
}
.navbarEnditems > span {
    margin: 0px 30px;
    color: white;
    font-size: 18px;
}

.navbarWrapper {
    background-color: #0ed6a0;
    height: 4rem;
}

/* Icon Button */
.iconButton {
    cursor: pointer;
    position: relative;
}
.iconBadge {
    position: absolute;
    top: -20px;
    right: -25px;
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 12px !important;
    background-color: red;
}

/* Loader */
.bodySpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.spinner {
    --size: 62px;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    perspective: 800px;
}
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
}
.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #f0803c;
}
.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #0e9594;
}
.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #06d6a0;
}
@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .navbarEnditems > span {
        color: #0ed6a0;
    }
    .iconBadge {
        color: white;
    }
}
