.mainContent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: grey;
}
.mainContent > footer {
    margin-top: auto;
}
.footer-columns > div > .foot-header {
    font-weight: bold;
}

.footer-columns > div > a {
    display: block;
}

.footer-columns > div > .social-media-icons {
    display: inline-flex;
}
.footer-columns > div > .social-media-icons > span {
    margin: 10px;
}

.navbar-end-items > .button {
    margin: 0px 25px;
}

.navbar {
    height: 4rem;
}
