/* Wrapper */
.columnWrapper,
.contentWrapper {
    margin: 5px;
    margin-bottom: 10px;
}
.columnOverride {
    padding: 1em 0.5em !important;
}

.headerRightWrapper {
    flex-grow: 0.2 !important;
}
.contentRightWrapper {
    flex-grow: 0.1 !important;
}
.contentLeftWrapper {
    justify-content: left !important;
}
.quantityWrapper {
    margin-top: 10px;
    margin-right: 0px !important;
    flex-grow: 0 !important;
}

/* CONTENT */
.imageCard {
    margin-right: 3px;
}

.quantityInput {
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    background: transparent;
    border: 1px solid black;
    font-size: 16px;
}
.quantityButton {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid black;
    font-size: 16px;
}
.emptyCard {
    padding: 2rem;
}
.emptyCard > * {
    margin-top: 10px;
}

@media screen and (max-width: 425px) {
    .columnWrapper {
        display: none;
    } /* hide on mobile */
}

@media screen and (min-width: 2560px) {
    .headerRightWrapper {
        flex-grow: 0.18 !important;
    }
    .contentRightWrapper {
        flex-grow: 0.12 !important;
    }
}
